<html lang="eng">

<head>


<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=1200">
<meta name="description" content="nw-stats is the leading Player Stats, VODS, War logs and gear tracking site in New World the game! Get ready for Brimstone Sands by learning your competition today!">
<meta name="keywords" content="New World Stats, New World, Amazon Games Studio, MMO, Stat tracking, guides, War vods, Valhalla, Maramma, YGG, COS, nw-wars, nw-stats, Statistics, tracking, tips and tricks, databse, NW, Brimstone sands, Trainer, nw player stats, new world stats, war stats, nw stats, war statistics, nw-stats, new world war statistics, new world game, new world video game,">

     <link rel="icon" type="image/x-icon" href="/static/images/nw-stats logo.png">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="/static/styles/style.css">
     <title>NW-STATS</title>
   </head>
</script>


<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7210973826242979"
     crossorigin="anonymous"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9DP7F2F6PV"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-9DP7F2F6PV');
    </script>
        <!-- Hotjar Tracking Code for https://www.nw-stats.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2994265,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
    <script type="text/javascript">
            window.onload= function(){
                document.body.style.display = "block";
            }
    </script>
    <body style="display:none">
        <script src="https://cdn.jsdelivr.net/gh/nicolauns/devtools.detect@1.2.0/devtools-detect.min.js"></script>
        <script>
if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|BB|PlayBook|IEMobile|Windows Phone|Kindle|Silk|Opera Mini/i.test(navigator.userAgent)) {
    // Take the user to a different screen here.
}else{
    devtools.detect(function(status){
         window.location.href = "https://www.nw-stats.com";
    });}
</script>

       <script>
       document.onkeydown = function(e) {
  if(event.keyCode == 123) {
     return false;
  }
  if(e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)) {
     return false;
  }
  if(e.ctrlKey && e.shiftKey && e.keyCode == 'C'.charCodeAt(0)) {
     return false;
  }
  if(e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)) {
     return false;
  }
    if(e.ctrlKey && e.shiftKey && e.keyCode == 'S'.charCodeAt(0)) {
     return false;
  }
  if(e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)) {
     return false;
  }
}
</script>
<script>
    document.addEventListener("keydown", function(e) {
  if (e.keyCode === 83 && (navigator.platform.match("Mac") ? e.metaKey : e.ctrlKey)) {
    e.preventDefault();
    // Process event...
  }
}, false);
</script>



<body oncontextmenu="return false" class="disable-select">
 <div class="topnav" id="myTopnav">
  <a href="https://www.nw-stats.com"><img src="/static/images/nw-stats logo.png" alt="Logo" style="max-width: 150px;"> </a>
  <a href="https://discord.gg/u8uswKq9Ex" style="margin-top: 60px;">Discord</a>
  <a href="https://www.nw-stats.com/{{server}}/records" style="margin-top: 60px;">Hall of Fame</a>
  <a href="https://www.nw-stats.com/{{server}}/leaderboards/damage" style="margin-top: 60px;">Leaderboards</a>
  <a href="https://www.nw-stats.com/{{server}}/roles" style="margin-top: 60px;">Roles</a>
  <a href="https://discord.com/oauth2/authorize?client_id=978555686868897794&permissions=380104731712&scope=bot%20applications.commands" style="margin-top: 60px;">Discord Bot</a>
  <a href="/submit_war" style="margin-top: 60px;">Submit War</a>


     <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
          </a>
          <div class="login">
{% if logged_in == True %}
     <a href="/logout" style="float: right; font-size: 25px; display: inline-block;">Logout</a>
     <a href="/settings" style="float: right; font-size: 25px; display: inline-block;">Settings</a>
     <a href="/profile" style="float: right; font-size: 25px; display: inline-block;">Profile</a>
     <a href="/companion" style="float: right; font-size: 25px; display: inline-block; color:green;">Get Companion App (Beta)</a>
     <a href="https://twitter.com/NW_stats" style="float: right; display: inline-block;" ><img src="/static/images/twitter_outline.png" width=32 height = 32></img></a>
     {% else %}
  <a href="/login" style="float: right; font-size: 25px; display: inline-block;">Login</a>
  <a href="/companion" style="float: right; font-size: 25px; display: inline-block; color:green;">Get Companion App (Beta)</a>
  {% endif %}
</div>
<div class="search-container">
    <form action="/search" method="POST" style="text-align: right;">
      <input type="text" placeholder="Search..." name="searched_term">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>
     <script>
     function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}


</script>

</div>

</div>
{% if user_settings[8] == "False" and logged_in == True %}
<a href="https://discord.gg/UeSpRpf6Z6" style="text-decoration: none;"><h2 style="color: black; background-color: yellow; text-align: center; text-decoration: none;">You are currently not verified! Get verified today and get access to all features like, uploading vods, adding your gear, changing role played in wars, easy access to your profile, and more! Click here to get verified!</h2></a>
{% endif %}
<div >
{% block content %}

{% endblock %}
</div>