{% extends "base.html" %}


{% block content %}
<head>
        <title>Download Companion App</title>
        <meta name="title" content="NW-Stats Companion">
        <meta name="description" content="Download the NW-Stats companion app!">
        <meta property="og:type" content="website">
        <meta property="og:title" content="NW-Stats Companion" />
        <meta property="og:description" content="Download the NW-Stats companion app!" />
        <meta property="og:url" content="www.nw-stats.com/companion" />
        <meta property="og:image" content="https://www.nw-stats.com/static/images/nw-stats logo.png" />
</head>

<div width=100%></div>
<div style="text-align:center;">
    <title>NW-Stats Companion App (Beta) Info and Download </title>
    <h1 style = "color:white; font-family: Helvetica;">NW-Stats Companion App (Beta) Info and Download </h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/hCBexp3JND0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<br>
<br>
<br>
<div width=50% style="text-align:center">
<p style="color:white; font-family: Helvetica;">The NW-Stats Companion App is designed to make taking screenshots for wars and invasions easier than ever! Simply define where the scoreboard is on your screen, click a button to take screenshots (it even scrolls for you!), then fill out the fields, and click submit! These wars will be submitted to our discord, so it cuts out the extra steps! Watch the video above to see it in action!</p>
<a href="/static/images/nwstats_app.zip" download><button class="myButton" style="color: #ffffff; text-align: center; width: auto; margin-left:15px;">Download Companion App (Beta)</button></a>


</div>

</div>
</div>
{% endblock %}