{% extends "base.html" %}
<html>
    {% block content %}
    <h1 style="color:white;">Below you will see a Discord embed of our updates channel! If you would like to get these updates sent to your Discord channel please join the Covenant Discord server and find the #tunastats-updates announcement channel! Feel free to use this widget to make suggestions, or if you find it easier, join the Black Tuna Squad Discord!</h1>
    <widgetbot
    server="892232759513350174"
    channel="987583805130948618"
    width="100%"
    height="600"
    ></widgetbot>
    <script src="https://cdn.jsdelivr.net/npm/@widgetbot/html-embed"></script>

    {% endblock %}



</html>