{% extends "base.html" %}
<title>{% block title %}Black Tuna Squad ({{server.upper()}}){% endblock %}</title>
{% block content %}
<html>

    <style>
    a {
  text-decoration: none;
  color: black;
    }

    h1{
         font-family: Helvetica
    }

    </style>

<body></body>
 <br><br>
 <h1 style="text-align: center; color: white;">NW-Stats War List ({{server.upper()}})</h1>
<p style=" font-size: 20px; width: 80%; margin-left: 10%; color: white; border-bottom-width: 3px; border-bottom-style: solid; border-bottom-color: {{user_settings[2]}}; text-align: center; padding-bottom: .5%; margin-top: 2%; font-family: Helvetica;">
    Here is a list of all war scoreboards that have been submitted to us!
</p>
<br>
</div>
<div style="margin-left: 15%; margin-bottom: 5%; color: white;">
    {% for war in war_list %}
        <li style="list-style-type: none; text-align: left; padding: 20px; font-size: 24px; font-family: Helvetica; border-bottom-width: 3px; border-bottom-style: solid; border-bottom-color: {{user_settings[2]}}; width: 80%; color: white;"><a href="https://www.nw-stats.com/{{server}}/war/{{war[0]}}" style="color: white;"><b>{{war[0]}}&nbsp;|&nbsp;{{war[1]}}&nbsp;</a><br></li></b>
    {% endfor %}
    </div>

<div id="MoreWars" style="background-color: {{user_settings[2]}}; width: 100%;">
        <b><p  style="width: 8%; display: inline-block; list-style-type: none;  padding: 10px; font-size: 26px; font-family: Helvetica; margin-left: 40%;">More wars:</p></b>
        <b><li style="display: inline-block; list-style-type: none; padding: 10px; font-size: 16px; font-family: Helvetica;"><a href="https://www.nw-stats.com/{{server}}/first">First</a></li></b>
    {% for page in pages %}

        <b><li style="display: inline-block; list-style-type: none; padding: 10px; font-size: 26px; font-family: Helvetica;"><a href="https://www.nw-stats.com/{{server}}/{{page}}">{{page}}</a></li></b>
    {% endfor %}
        <b><li style="display: inline-block; list-style-type: none; padding: 10px; font-size: 16px; font-family: Helvetica;"><a href="https://www.nw-stats.com/{{server}}/last">Last</a></li></b>
    </div>



{% if has_ads == True %}

    {% endif %}
{% endblock %}
</body>
</html>