     <html lang="eng">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/x-icon" href="/static/images/nw-stats logo.png">
     <link rel="stylesheet" href="/styles/style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="./Austin Smith - My Portfolio_files/slideshow.js.download"></script>
     <title>NW-STATS</title>
   </head>

   <body>

     <div class="topnav" id="myTopnav">
  <a href="https://www.nw-stats.com"><img src="/static/images/nw-stats logo.png" alt="Logo" style="max-width: 150px;"> </a>
  <a href="https://discord.gg/u8uswKq9Ex" style="margin-top: 60px;">Discord</a>
  <a href="/news" style="margin-top: 60px;">News</a>

     <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
          </a>
          <div class="login">
{% if logged_in == True %}
     <a href="/logout" style="float: right; font-size: 25px; display: inline-block;">Logout</a>
     <a href="/settings" style="float: right; font-size: 25px; display: inline-block;">Settings</a>
     <a href="/profile" style="float: right; font-size: 25px; display: inline-block;">Profile</a>
     {% else %}
  <a href="/login" style="float: right; font-size: 25px; display: inline-block;">Login</a>
  {% endif %}
</div>
<div class="search-container">
    <form action="/search" method="POST" style="text-align: right;">
      <input type="text" placeholder="Search..." name="searched_term">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>
     <script>
     function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}


</script>

</div>

<div class="hero-image">
     <div class="hero-text">
    <h1>Welcome to NW-STATS</h1>
    <p> THE place to find stats and scout your opponents in Aeternum.</p><br>
    <h2>Select a Server to Explore</h2>
    <div class="dropdown">
  <button class="dropbtn">Server Selection <i class="fa fa-chevron-down" aria-hidden="true"></i></button>
  <div class="dropdown-content">
  <a href="/cos">Castle of Steel</a>
  <a href="/del">Delos</a>
  <a href="/mar">Maramma</a>
  <a href="/oro">Orofena</a>
  <a href="/val">Valhalla</a>
  <a href="/ygg">Yggdrasil</a>
  </div>
</div>
<br><br>

    <h2>Don't See your server?</h2>
    <a href="https://discord.gg/P5qJ2m6nzF"><button>Request A Server</button></a><br><br>

  </div>

</div>


</body>
</html>