     <html lang="eng">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=1200">

    <link rel="icon" type="image/x-icon" href="/static/images/nw-stats logo.png">
     <link rel="stylesheet" href="/styles/style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="./Austin Smith - My Portfolio_files/slideshow.js.download"></script>
     <title>NW-STATS</title>
     <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7210973826242979"
     crossorigin="anonymous"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9DP7F2F6PV"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-9DP7F2F6PV');
    </script>

     <!-- Hotjar Tracking Code for https://www.nw-stats.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2994265,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

   </head>

   <body>

     <div class="topnav" id="myTopnav">
  <a href="https://www.nw-stats.com"><img src="/static/images/nw-stats logo.png" alt="Logo" style="max-width: 150px;"> </a>
  <a href="https://discord.gg/u8uswKq9Ex" style="margin-top: 60px;">Discord</a>
  <a href="https://discord.com/oauth2/authorize?client_id=978555686868897794&permissions=380104731712&scope=bot%20applications.commands" style="margin-top: 60px;">Get Discord Bot</a>
    <a href="/submit_war" style="margin-top: 60px;">Submit Wars</a>

  <a href="/news" style="margin-top: 60px;">News</a>

     <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
          </a>
          <div class="login">
{% if logged_in == True %}
     <a href="/logout" style="float: right; font-size: 25px; display: inline-block;">Logout</a>
     <a href="/settings" style="float: right; font-size: 25px; display: inline-block;">Settings</a>
     <a href="/profile" style="float: right; font-size: 25px; display: inline-block;">Profile</a>
     {% else %}
  <a href="/login" style="float: right; font-size: 25px; display: inline-block;">Login</a>
  {% endif %}
</div>
<div class="search-container">
    <form action="/search" method="POST" style="text-align: right;">
      <input type="text" placeholder="Search..." name="searched_term">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>
     <script>
     function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}


</script>

</div>

<div class="hero-image">
     <div class="hero-text">
         <div>

         </div>

    {% if servers == [] %}
    <h1>Welcome to New World Stats!</h1>
    <p> THE place to find stats and scout your opponents in New World!.</p><br>
    <h2>Select a region to Explore player stats and war stats in New World!</h2>
    <div class="dropdown">
  <button class="dropbtn">Region Selection <i class="fa fa-chevron-down" aria-hidden="true"></i></button>
  <div class="dropdown-content">
        {% for region in regions %}
  <a href="/{{region}}/server">{{region.replace("_"," ")}}</a>
    {% endfor %}
  </div>
</div>
    {% else %}
    <h2>Select a server to explore player stats and war stats in New World!</h2>
    <div class="dropdown">
    <button class="dropbtn">Server Selection <i class="fa fa-chevron-down" aria-hidden="true"></i></button>
    <div class="dropdown-content">
    {% for server in servers %}
    <a href="/{{server.replace("_"," ")}}">{{server.replace("_", " ")}}</a>
    {% endfor %}
  </div>
</div>
{% endif %}
<br><br>

    <h2>Don't See your New World server?</h2>
    <a href="https://discord.gg/P5qJ2m6nzF"><button>Request A Server</button></a><br><br>

  </div>

</div>


</body>
</html>