     <html lang="eng">

<head>
        <meta name="title" content="NW-Stats">
        <meta name="description" content="The original and community driven stat tracing site for player profiles, stats, wars, and invasions! More features being worked on constantly!">
        <meta property="og:type" content="website">
        <meta property="og:title" content="NW-Stats" />
        <meta property="og:description" content="The original and community driven stat tracing site for player profiles, stats, wars, and invasions! More features being worked on constantly!" />
        <meta property="og:url" content="https://www.nw-stats.com" />
        <meta property="og:image" content="/static/images/nw-stats logo.png" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=1200">

    <link rel="icon" type="image/x-icon" href="/static/images/nw-stats logo.png">
     <link rel="stylesheet" href="/styles/style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="./Austin Smith - My Portfolio_files/slideshow.js.download"></script>
     <title>NW-STATS</title>
     <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7210973826242979"
     crossorigin="anonymous"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9DP7F2F6PV"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-9DP7F2F6PV');
    </script>

     <!-- Hotjar Tracking Code for https://www.nw-stats.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2994265,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

   </head>

   <body>

     <div class="topnav" id="myTopnav">
  <a href="https://www.nw-stats.com"><img src="/static/images/nw-stats logo.png" alt="Logo" style="max-width: 150px;"> </a>
  <a href="https://discord.gg/u8uswKq9Ex" style="margin-top: 60px;">Discord</a>
  <a href="https://discord.com/oauth2/authorize?client_id=978555686868897794&permissions=380104731712&scope=bot%20applications.commands" style="margin-top: 60px;">Get Discord Bot</a>
    <a href="/submit_war" style="margin-top: 60px;">Submit Wars</a>

  <a href="/news" style="margin-top: 60px;">News</a>

     <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
          </a>
          <div class="login">
{% if logged_in == True %}
     <a href="/logout" style="float: right; font-size: 25px; display: inline-block;">Logout</a>
     <a href="/settings" style="float: right; font-size: 25px; display: inline-block;">Settings</a>
     <a href="/profile" style="float: right; font-size: 25px; display: inline-block;">Profile</a>
     <a href="https://donorbox.org/nw-stats" style="float: right; font-size: 25px; display: inline-block;">Donate</a>
     <a href="/companion" style="float: right; font-size: 25px; display: inline-block; color: green;">Get Companion App (Beta)</a>
     {% else %}
  <a href="/login" style="float: right; font-size: 25px; display: inline-block;">Login</a>
  <a href="/companion" style="float: right; font-size: 25px; display: inline-block; color: green;">Get Companion App (Beta)</a>
  {% endif %}
</div>
<div class="search-container">
    <form action="/search" method="POST" style="text-align: right;">
      <input type="text" placeholder="Search..." name="searched_term">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>
     <script>
     function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}


</script>

</div>

<div class="hero-image">
     <div class="hero-text">
         <div>

         </div>

    {% if servers == [] %}
    <h1>Welcome to New World Stats!</h1>
    <p> THE place to find stats and scout your opponents in New World!</p><br>
    <!-- Hotjar Tracking Code for https://www.nw-stats.com
    <h2> <b>{{total_wars}}</b></h2>
    <h2>Wars Tracked</h2><br>
    -->
    <h2>Select a region to Explore player stats and war stats in New World!</h2>

    <div class="dropdown">
  <button class="dropbtn">Region Selection <i class="fa fa-chevron-down" aria-hidden="true"></i></button>
  <div class="dropdown-content">
        {% for region in regions %}
  <a href="/{{region}}/server">{{region.replace("_"," ")}}</a>
    {% endfor %}
  </div>


</div>
<a href="https://www.nw-stats.com/nwl"><button class="myButton" style="color: #ffffff; text-align: center; width: auto; margin-left:15px;">Looking for New World League?</button></a>
    {% else %}
    <h2>Select a server to explore player stats and war stats in New World!</h2>
    <h2>{{region}}</h2>
    <div class="dropdown">
    <button class="dropbtn">Server Selection <i class="fa fa-chevron-down" aria-hidden="true"></i></button>
    <a href="https://www.nw-stats.com"><button class="myButton" style="color: #ffffff; text-align: center; width: auto; margin-right:15px;">Back To Region Selection</button></a>
    <div class="dropdown-content">
    {% for server in servers %}
    <a href="/{{server.replace("_"," ")}}">{{server.replace("_", " ")}}</a>
    {% endfor %}
  </div>
</div>
{% endif %}
<br><br>

  </div>

</div>
<div class="recent-wars">
    <div>
        <div width="90%" style="height:100%; padding-top:50%">
            <h2 style="border-bottom-width: 5px; border-bottom-style: solid; border-bottom-color: {{user_settings[2]}};">Recent Wars</h2>
        <ul style="vertical-align: middle;">
        {% for war in recent_wars %}
        <li style="list-style-type: none; text-align: center; padding: 10px; font-size: 24px; font-family: Helvetica; border-bottom-width: 3px; border-bottom-style: solid; border-bottom-color: {{user_settings[2]}}; width: 80%; color: white; text-decoration: none;"><a href="https://www.nw-stats.com/{{war[2]}}/war/{{war[1]}}" style="color: white;"><b>{{war[2]}}: {{war[0]}}</a><br></li></b>
        {% endfor %}
        </ul>
        <h3>Dates are formatted for each servers region.</h3>
    </div>
</div>
</div>

</body>
</html>